* {
  box-sizing: border-box;
  background-color: rgb(220, 220, 220);
}

/* WELCOME COMPONENT STYLING */

#welcome-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 3px;
}

.welcome-div-2 {
    grid-column: span 3;
    grid-row: 4 / span 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-div-2 h1 {
    font-size: 7rem;
    margin-bottom: 0;
}

.welcome-div-2 h2 {
    font-size: 1.7rem;
    font-weight: 300;
}

/* BUTTON COMPONENT STYLING */

.btn-component {
    padding: 20px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 550;
    border: 1px solid black;
}

.btn-component:hover {
    background-color: rgb(206, 205, 205);
}
