* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgb(38, 28, 70);
}

body {
    margin: 0;
    background: 
    linear-gradient(to right, 
    rgba(93, 68, 178, 0.7), 
    rgba(181, 130, 221, 0.6), 
    rgba(242, 177, 228, 0.4), 
    rgba(181, 130, 221, 0.6), 
    rgba(93, 68, 178, 0.7)), 
    url('../src/assets/main-background-img.webp') no-repeat fixed center;
    background-size: cover;
}

/* WELCOME COMPONENT STYLING */

#welcome-div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-template-rows: repeat(12, 1fr);
    gap: 3px;
    max-height: 100vh;
}

.welcome-div-2 {
    grid-column: span 3;
    grid-row: 9 / span 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(181, 130, 221, 0.5);
}

.welcome-div-2 h1 {
    font-size: 7rem;
    padding-top: 1rem;
    margin-bottom: 0.2rem;
}

.welcome-div-2 h2 {
    font-size: 1.7rem;
    font-weight: 300;
    margin-bottom: 0;
}

/* BUTTON COMPONENT STYLING */

#header-btn {
    border-radius: 5px;
}

.btn-component {
    padding: 15px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 550;
    border: 1px solid rgba(162, 162, 162, 0.5);
    background-color: rgba(119, 67, 158, 0.6);
}

.btn-component:hover {
    background-color: rgba(119, 67, 158, 0.8);
}

/* HEADER COMPONENT STYLING */

#header-parent {
    margin: 0;
    position: relative;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.2rem;
    background-color: rgba(181, 130, 221, 0.7);
}

.header-child {
    list-style-type: none;
    background-color: rgba(206, 205, 205, 0);
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1rem;
}

#header-btn {
    margin-right: 1.1rem;
}

/* HOMEPAGE COMPONENT STYLING */

#homepage-parent-div {
    position: absolute;
    width: 100%;
    min-height: 100vh;
}

/* MAIN COMPONENT STYLING */

#main-card-div {
    background: 
    linear-gradient(to right, 
    rgba(93, 68, 178, 0.7), 
    rgba(181, 130, 221, 0.6), 
    rgba(242, 177, 228, 0.4), 
    rgba(181, 130, 221, 0.6), 
    rgba(93, 68, 178, 0.7));
    position: relative;
    width: 100%;
    min-height: 86.5vh;
    border-top: 1px solid rgba(206, 205, 205, 0.5);
    border-bottom: 1px solid rgba(206, 205, 205, 0.5);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FIGHT CARD COMPONENT STYLING */

#fight-main-div {
    display: flex;
    justify-content: center;
    align-items: space-evenly;
    border-radius: 5px;
}

.fight-card {
    border: 0.5px solid rgba(206, 205, 205, 0.5);
    border-radius: 5px;
    min-height: 70vh;
    padding: 2rem;
    background-color: rgba(181, 130, 221, 0.3);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 1.5rem;
}

#random-opp-h2 {
    font-size: 2.5rem;
}

#random-result-h2 {
    font-size: 2.5rem;
}

/* RESULTS CARD COMPONENT STYLING */

.results-btn {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}

.results-btn * {
    margin: 0.15rem;
}

.random-selected-fighter {
    font-size: 3rem;
}

.rendered-fighter-random {
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rendered-fighter-random h3[id='difficulty'] {
    margin-top: 1.5rem;
}

.rendered-fighter-random h3[id='bossTxt'] {
    font-weight: 300;
    font-size: 1.3rem;
}

/* ERROR PAGE */

#error-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#error-div > h1 {
    text-align: center;
    margin-bottom: 0.5rem;
}

/* FOOTER COMPONENT STYLING */

.footer-parent {
    position: relative;
    margin: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    background-color: rgba(181, 130, 221, 0.7);
}

.footer-parent  * {
     background-color: rgba(206, 205, 205, 0);
}

.footer-child {
    list-style-type: none;
    font-weight: 600;
    padding: 1rem;
}

/* MOBILE BREAKPOINTS */

@media only screen and (width < 321px) {

    .welcome-div-2 h1 {
        font-size: 1.3rem;
}

    .welcome-div-2 h2 {
        font-size: 1rem;
}

    #random-opp-h2 {
        font-size: 2rem;
        text-align: center;
}

    #random-result-h2 {
        font-size: 2rem;
        text-align: center;
}

    .random-selected-fighter {
        font-size: 2.5rem;
        text-align: center;
}

    .rendered-fighter-random h3 {
        text-align: center;
}

    .rendered-fighter-random h3[id='difficulty'] {
        margin-top: 1.5rem;
        text-align: center;
}

    .rendered-fighter-random h3[id='bossTxt'] {
        text-align: center;
}
}

@media only screen and (width >= 321px) and (width < 377px) {

    .welcome-div-2 h1 {
        font-size: 2.2rem;
}

    .welcome-div-2 h2 {
        font-size: 1.2rem;
}

    #random-opp-h2 {
        font-size: 2rem;
        text-align: center;
}

    #random-result-h2 {
        font-size: 2rem;
        text-align: center;
}

    .random-selected-fighter {
        font-size: 2.5rem;
        text-align: center;
}

    .rendered-fighter-random h3 {
        text-align: center;
}

    .rendered-fighter-random h3[id='difficulty'] {
        margin-top: 1.5rem;
        text-align: center;
}

    .rendered-fighter-random h3[id='bossTxt'] {
        text-align: center;
}

    #error-div > h1 {
        font-size: 2.2rem;
}
}

@media only screen and (width >= 377px) and (width < 426px) {

    .welcome-div-2 h1 {
        font-size: 2.6rem;
}

    .welcome-div-2 h2 {
        font-size: 1.2rem;
}

    #random-opp-h2 {
        font-size: 2rem;
        text-align: center;
}

    #random-result-h2 {
        font-size: 2rem;
        text-align: center;
}

    .random-selected-fighter {
        font-size: 2.5rem;
        text-align: center;
}

    .rendered-fighter-random h3 {
        text-align: center;
}

    .rendered-fighter-random h3[id='difficulty'] {
        margin-top: 1.5rem;
        text-align: center;
}

    .rendered-fighter-random h3[id='bossTxt'] {
        text-align: center;
}

    #error-div > h1 {
        font-size: 2.4rem;
}
}

@media only screen and (width >= 426px) and (width < 447px) {

    .welcome-div-2 h1 {
        font-size: 3.3rem;
}

    .welcome-div-2 h2 {
        font-size: 1.6rem;
}

    #random-opp-h2 {
        font-size: 2rem;
        text-align: center;
}

    #random-result-h2 {
        font-size: 2rem;
        text-align: center;
}

    .random-selected-fighter {
        font-size: 2.5rem;
        text-align: center;
}

    .rendered-fighter-random h3 {
        text-align: center;
}

    .rendered-fighter-random h3[id='difficulty'] {
        margin-top: 1.5rem;
        text-align: center;
}

    .rendered-fighter-random h3[id='bossTxt'] {
        text-align: center;
}

    #error-div > h1 {
        font-size: 2.6rem;
}
}

@media only screen and (width >= 447px) and (width < 515px) {

    .welcome-div-2 h1 {
        font-size: 3.7rem;
}

    .welcome-div-2 h2 {
        font-size: 1.8rem;
}

    #random-opp-h2 {
        font-size: 2rem;
        text-align: center;
}

    #random-result-h2 {
        font-size: 2rem;
        text-align: center;
}

    .random-selected-fighter {
        font-size: 2.5rem;
        text-align: center;
}

    .rendered-fighter-random h3 {
        text-align: center;
}

    .rendered-fighter-random h3[id='difficulty'] {
        margin-top: 1.5rem;
        text-align: center;
}

    .rendered-fighter-random h3[id='bossTxt'] {
        text-align: center;
}

    #error-div > h1 {
        font-size: 2.8rem;
}
}

@media only screen and (width >= 515px) and (width < 600px) {

    .welcome-div-2 h1 {
        font-size: 4.1rem;
}

    .welcome-div-2 h2 {
        font-size: 1.8rem;
}

    #random-opp-h2 {
        font-size: 2rem;
        text-align: center;
}

    #random-result-h2 {
        font-size: 2rem;
        text-align: center;
}

    .random-selected-fighter {
        font-size: 2.5rem;
        text-align: center;
}

    .rendered-fighter-random h3 {
        text-align: center;
}

    .rendered-fighter-random h3[id='difficulty'] {
        margin-top: 1.5rem;
        text-align: center;
}

    .rendered-fighter-random h3[id='bossTxt'] {
        text-align: center;
}

    #error-div > h1 {
        font-size: 3.3rem;
}
}

/* TABLET & LAPTOP BREAKPOINTS */

@media only screen and (width >= 600px) and (width < 768px) {

    .welcome-div-2 h1 {
        font-size: 4.6rem;
}

    .welcome-div-2 h2 {
        font-size: 1.8rem;
}

    #random-opp-h2 {
        font-size: 2rem;
        text-align: center;
}

    #random-result-h2 {
        font-size: 2rem;
        text-align: center;
}

    .random-selected-fighter {
        font-size: 2.5rem;
        text-align: center;
}

    .rendered-fighter-random h3 {
        text-align: center;
}

    .rendered-fighter-random h3[id='difficulty'] {
        margin-top: 1.5rem;
        text-align: center;
}

    .rendered-fighter-random h3[id='bossTxt'] {
        text-align: center;
}

    #error-div > h1 {
        font-size: 3.9rem;
}
}

@media only screen and (width >= 768px) and (width < 992px) {

    .welcome-div-2 h1 {
        font-size: 6rem;
}

    .welcome-div-2 h2 {
        font-size: 1.8rem;
}

    #random-opp-h2 {
        font-size: 2rem;
        text-align: center;
}

    #random-result-h2 {
        font-size: 2rem;
        text-align: center;
}

    .random-selected-fighter {
        font-size: 2.5rem;
        text-align: center;
}

    .rendered-fighter-random h3 {
        text-align: center;
}

    .rendered-fighter-random h3[id='difficulty'] {
        margin-top: 1.5rem;
        text-align: center;
}

    .rendered-fighter-random h3[id='bossTxt'] {
        text-align: center;
}

    #error-div > h1 {
        font-size: 4.5rem;
}
}

@media only screen and (width >= 992px) {
        #error-div > h1 {
        font-size: 4.5rem;
}
}



