* {
  box-sizing: border-box;
  background-color: rgb(220, 220, 220);
  margin: 0;
}

/* WELCOME COMPONENT STYLING */

#welcome-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 3px;
}

.welcome-div-2 {
    grid-column: span 3;
    grid-row: 5 / span 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-div-2 h1 {
    font-size: 7rem;
    margin-bottom: 0;
}

.welcome-div-2 h2 {
    font-size: 1.7rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

/* BUTTON COMPONENT STYLING */

.btn-component {
    padding: 15px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 550;
    border: 1px solid black;
}

.btn-component:hover {
    background-color: rgb(206, 205, 205);
}

/* HOMEPAGE COMPONENT STYLING */

#homepage-parent-div {
    position: absolute;
    width: 100%;
}

/* HEADER COMPONENT STYLING */

#header-parent {
    margin: 0;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.2rem;
    background-color: rgb(206, 205, 205);
}

.header-child {
    list-style-type: none;
    background-color: rgb(206, 205, 205);
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1rem;
}

#header-btn {
    margin-right: 1.1rem;
}

/* MAIN COMPONENT STYLING */

#main-card-div {
    background-color: rgb(206, 205, 205);
    position: relative;
    top: 1rem;
    left: 8.5rem;
    width: 85%;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FIGHT CARD COMPONENT STYLING */

.fight-card {
    border: 0px solid black;
    border-radius: 5px;
    height: 600px;
    padding: 2rem;
    background-color: rgb(220, 220, 220);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

#fight-card-btn {
    
}

/* FOOTER COMPONENT STYLING */

.footer-parent {
    position: relative;
    margin: 0;
    top: 1rem;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    background-color: rgb(206, 205, 205);
}

.footer-parent  * {
     background-color: rgb(206, 205, 205);
}

.footer-child {
    list-style-type: none;
    font-weight: 600;
}