* {
    box-sizing: border-box;
    background-color: #dbdbdb;
}

body {
    margin: 0 auto;
    padding: 0;
}

#welcome-div {
    margin: 0.5rem;
    margin-top: 19rem;
    padding: 0.75rem;
    /* border: 1px solid black; */
}

h1 {
    text-align: center;
    font-size: 5rem;
    margin-bottom: 0;
}

h2 {
    text-align: center;
}

/* Welcome Component Styling */
#site-entry {
    margin-left: 46%;
    padding: 24px;
    border-radius: 5px;
    border: 1px solid black;
    font: 600 1rem Times;
}

#site-entry:hover {
    background-color: rgb(209, 209, 209);
}

/* HomePage Component Styling */

nav, ul, li {
    margin: 0;
}

/* Header Styling */
ul {
    display: flex;
    justify-content: space-between;
    background-color: rgb(209, 209, 209);
    padding: 1rem;
    text-align: right;
}

li {
    list-style-type: none;
    padding: 0.5rem;
}

li[id="app-title"] {
    font: 600 1.5rem Times;
}

li[id="return-home"] {
    font: 550 1.1rem Times;
    align-self: center;
}


/* Main Card Styling */

.main-card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 12%;
    top: 25px;
    width: 75%;
    height: 725px;
    background-color: rgb(209, 209, 209);
    border-radius: 5px;
}

/* Fight Card Styling */

.fight-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    background-color: #dbdbdb;
    width: 450px;
    height: 650px;
    padding: 1.5rem;
    margin: 1.2rem;
    border-radius: 5px;
}

.fight-card h2 {
    font-size: 2.2rem;
}

.fight-card #nation {
    font-size: 1.8rem;
}

.fight-card img {
    margin-bottom: 1rem;
}

.fight-card #site-entry {
    margin-left: 25%;
    margin-right: 25%;
}

/* Footer Styling */
ul[class="flex-parent-2"] {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

li[id="footer-copyright"] {
    background-color: rgb(209, 209, 209);
    margin-left: 42%;
}




